@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.container-movie {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.information-section {
    background-color: #272433;
    width: 320px;
    height: fit-content;
    padding: 10px;
    margin-top: 5px;
}

.comments-section {
    width: 780px;
    padding: 1%;
    margin-top: 5px;
}

.img {
    width: 100%;
}

.title-movie{
    font-family: 'Lato', sans-serif;
    font-size: large;
    margin-top: 12px;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
}

.rate-template{
    font-family: 'Lato', sans-serif;
    color: rgb(209, 191, 28);
    font-size: large;
}

.information {
    font-family: 'Lato', sans-serif;
    font-size: medium;
    margin-bottom: 10px;
    color: white;
}

.genres{
    display: flex;
    width: fit-content;
    margin-top: 10px;
}

.genre {
    background-color: #1478d4;
    width: fit-content;
    padding: 5px;
    margin-right: 6px;
    border-radius: 5px;
}

.icon-section-comment {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}

.icon-section{
    display: flex;
    width: fit-content;
    margin-bottom: 12px;
}

.icon {
    margin-right: 5px;
}

.username {
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: white;
    font-size: large;
    border-bottom-color: #1478d4;
    border-bottom-style: solid;
}

.comment-block {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding-left: 5%;
    padding-right: 5%;
}

.comment {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    background-color: #23212c; 
    border-style: none;
    position: inherit;
}

.ratingbox {
    position: inherit;
    z-index: 1;
}

.button {
    width: fit-content;
    padding: 2px;
    margin-right: 5px;
}

.button-section {
    display:flex;
    justify-content: flex-start;
    width: 100%;
}

