@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

.form-rating {
    margin-top: 5%;
    padding: 5%;
    background-color: #272433;
}

.form-button-section {
    display:flex;
    width: 100%;
}

.stars {
    display: flex;
    justify-content: space-around;
    width: inherit;
}

.title-rating {
    font-size: medium;
}

